@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500;600&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Sour Gummy", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 226, 226);
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: rgb(240, 237, 237);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;

}

.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
}

.image{

    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(8, 8, 8);
    padding: 3px;
    margin-bottom: 10px;
}

/* amra shudu .profile-image aita use na kore .image .profile-image aita use kori karon .image .profile-image aita shob
profile-image class k change korbe na.aita shudhu image er vitor a thaka  .profile-image ke change korbe */

/* We use object-fit: cover; in CSS to ensure that images or videos fully cover their container without distortion while maintaining their original aspect ratio. */
.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: aqua;
    padding: 3px;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;

}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 34px;
    width: 34px;
    color: #fff;
    font-size: 18px;
    
    margin: 0px 8px;
    background-color: rgb(115, 115, 206);
    text-decoration: none;



}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 24px;
    border: none;
    padding: 8px 24px;
    margin: 0 10px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: #0e4bf1;
}
.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;

}

.data i{
    font-size: 18px;
    margin-right: 6px;
}

.data:last-child{
    border-right: none;
}
